body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-title {
  font-family: 'Jua', sans-serif;
  color: #28a745;
  margin-top: 2em;
}

.logo {
  font-family: 'Jua', sans-serif;
  font-size: 2em;
  margin: 5px;
}
.bg-nav {
  background-color: #00BCD4;
}
.btn-google {
    margin-top: 13em;
}

.text-type {
  font-family: 'Jua', sans-serif;
}

.margin-s {
  margin: 5px;
}
